# cobol compiled files
*.o

# cobol accountsystem program
accountsystem

# node_modules
node_modules/

# node-accounting-app dependencies
node-accounting-app/node_modules/
node-accounting-app/package-lock.json
